<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DB-Manager{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href="/assets/favicon.png">
        <script src="/assets/lib/jquery/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        {% block header %}{% endblock %}
        <div id="content">
            {% block leftpanel %}{% endblock %}
            <div id="mainContent">
                <h1>DB-Manager</h1>
                <div id="contentBlock">{% block content %}{% endblock %}</div>
            </div>
        </div>
        <div id="footer">Footer</div>
    </body>
</html>
