{% if _isLogged %}
<p>
    Welcome, {{ _user.email }} !<br>
    <a href="/logout">Logout</a>
</p>
{% else %}
<form method="post" action="/login">
    <input type="hidden" name="_csrf" value="{{ _csrf }}" />
    <label for="user">Username </label><input type="text" id="user" name="username" /><br>
    <label for="pass">Password </label><input type="password" id="pass" name="password" /><br>
    <input type="submit" value="Login" />
</form>
<p>
    Not registered yet ?<br>Click <a href="/register">here</a> to create an account.
</p>
{% endif %}