{% extends 'base.html' %}

{% block header %}
    <header>
        <div id="headerTitle">DB-Manager</div>
        <ul>
            {% for i in menu %}
            <li><a href="{{ i.url }}">{{ i.title }}</a></li>
            {% endfor %}
        </ul>
    </header>
{% endblock %}

{% block leftpanel %}
    <div id="leftPanel">
        {% if _isLogged %}
        <p>
            Welcome, {{ _user.email }} !<br>
            <a href="/logout">Logout</a>
        </p>
        {% else %}
        <form method="post" action="/login">
            {{ flash.loginMessage }}<br>
            <input type="hidden" name="_csrf" value="{{ _csrf }}" />
            <label for="user">Username </label><input type="text" id="user" name="username" {% if flash.loginMail %}value="{{ flash.loginMail }}"{% endif %} /><br>
            <label for="pass">Password </label><input type="password" id="pass" name="password" /><br>
            <input type="submit" value="Login" />
        </form>
        <p>
            Not registered yet ?<br>Click <a href="/register">here</a> to create an account.
        </p>
        {% endif %}
    </div>
{% endblock %}
